/* use classes and ids */

html {
  font-family: sans-serif;
  background-image:url(https://i.pinimg.com/originals/11/79/b4/1179b456419cdfc14cdae91405799ec7.jpg);
}

.menu {
  background: black;
  color: white;
  padding: 5px 20px 5px 20px;
}

#logo {
  width: 50px;
  margin-right: 10px;
}

#main_menu {
  margin-right: 10px;
}

#sub_menu {
  display: inline-block;
  float: right;
}

.menu_align {
  display: inline;
}

.container {
  padding: 20px 200px 20px 150px;
}

h1 {
  margin: 0;
}
