/* use classes and ids */

html {
  font-family: sans-serif;
}

.menu {
  background: black;
  color: white;
  padding: 5px 20px 5px 20px;
}

#logo {
  width: 50px;
  margin-right: 10px;
}

#main_menu {
  margin-right: 10px;
}

#sub_menu {
  display: inline-block;
  float: right;
}

.menu_align {
  display: inline;
}

.container {
  padding: 20px;
}

h1 {
  margin: 0;
}
